/* .main-app {
  font-family: Montserrat,sans-serif;
  background-image: linear-gradient(#193f76, #2c3b76 100%);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;

} */


