.contact{
  background-image: url(../assets/background-turul-black.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  min-height: 100vh;
}

.main-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 125vw;
  margin: 0 auto 150px auto;
}

.contact-list {
  display: flex;
  color: #fff;
  font-size: 1.8em;
  line-height: 2.5rem;
  margin-right: 25px;
  margin-left: 25px;
  align-items: center;
  font-weight: 600;
}
iframe {
  width: 750px;
}
.contact-list a {
  color: #fff;
}
.ul-list {
  list-style-type: none;
}
.info-list{
  margin-bottom: 10px;
}
.googleMaps {
    margin-right: 25px;
    margin-left: 25px;
}
.contact-footer {
margin:50px auto 0px auto;
}

@media (min-width: 1281px) {
 .main-block {
   margin-top:150px;
 }

 iframe {
   width: 600px;
 }
}

@media (min-width: 1025px) and (max-width: 1280px) {
.main-block {
  margin-top:150px;
}
.contact-list {
    font-size: 1.5em;
  }
  iframe {
   width: 450px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
.main-block {
  margin-top: 150px;
  }
.contact-list {
  font-size: 1.5em;
  flex-direction: column;
  }
iframe {
  width: 450px;
  }
}


@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
.main-block {
  margin-top: 150px;
}
.contact-list {
  font-size: 1.5em;
}
iframe {
  width: 450px;
}

}


@media (min-width: 481px) and (max-width: 767px) {
.main-block {
  margin-top: 150px;
  max-width: 100vw;
}

.contact-list {
  font-size: 1.5em;
  line-height: 1.6em;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
}

  iframe {
  width: 450px;
  }
}
@media (min-width: 250px) and (max-width: 480px) {
.main-block {
  margin-top: 150px;
  max-width: 90vw;
}

.contact-list {
  font-size: 1.3em;
  line-height: 1.6em;
  flex-direction: column;
  margin-left: 0;
  margin-right: 0;
}

iframe {
  width: 300px;
  }
}