.home {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-family: Montserrat,sans-serif;
  background-image: linear-gradient(#193f76, #2c3b76 100%);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
  position: relative;
}

.screen {
  max-width: 125vw;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
}


.introduction-section {
  color: #fff;
  font-weight: 700;
  font-size: 9em;
  text-transform: uppercase;
  font-family: Montserrat, sans-serif;
  line-height: 1.2em;
  padding: 0 25px;
  margin-bottom: 0.78vw;
}

.know-more {
  color: #fff;
  font-size: 1.5em;
  font-family: Montserrat, sans-serif;
  font-weight: 800;
  margin-bottom: 1em;
}

.button {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 1.5em;
  background-color: transparent;
  border: 3px solid;
  color: #fff;
  border-radius: 0;
  margin: 0 0 20px 0;
  text-transform: uppercase;
  padding: 14px 30px;
}

.backbeer {
  width: 60%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index:0;
}
@media (min-width: 1281px) {
  .home {

  }

  .introduction-section{
    font-weight: 8em;
  }

  .button {
    font-size: 1.4em;
  }
  .screen {
    margin-top: 250px;
    margin-bottom: 250px;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .introduction-section{
    font-size: 5.8em;
  }
  .know-more {
    font-size: 1.2em;
  }
  .button {
    font-size: 1em;
  }
  .screen {
    margin-top: 250px;
    margin-bottom: 250px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .introduction-section{
    font-size: 5em;
  }
  .know-more {
       font-size: 1em;
  }
  .button {
    font-size: 0.8em;
  }
  .screen {
    margin-top: 150px;
    margin-bottom: 150px;
  } 
}

@media (min-width: 768px) and (max-width:1024px) and (orientation:landscape) {
  .introduction-section{
    font-size: 4rem;
  }

  .know-more {
    font-size: 1em;
  }
  .button {
    font-size: 0.7em;
  }
  .screen {
    margin-top: 150px;
    margin-bottom: 150px;
  }
}
@media (min-width: 481px) and (max-width:767px) {
  .introduction-section{
    font-size: 3.5em ;
  }
  .know-more {
    font-size: 0.9em;
  }
  .button {
   font-size: 0.7em;
  }
  .screen {
    margin-top: 150px;
    margin-bottom: 150px;
  }
}

@media (min-width: 200px) and (max-width:480px) {
  .screen{
   margin-top: 150px;
   margin-bottom: 150px;
  }
  .introduction-section{
    font-size: 2.7em;
  }
  .know-more {
    font-size: 0.9em;
  }
  .button {
    font-size: 0.7em;
  }
}