.constructor {
  background-image: url(../assets/background-turul-black.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  height: 100vh;
}

.main-constructor {
  display: flex;
  justify-content: center;

}

.image {
  justify-content: flex-end;
  display: flex;
  margin-left:25px
}

.tour-img {
  max-width: 350px;
  border-radius: 4px 0 0 4px;
}

.tourPhotoColumn {
 display: none;
}

.tour-description {
  display: flex;
  color: #fff;
  padding: 20px;
  border-radius: 0 4px 4px 0;
  background-color: #042e73;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 2rem;
  font-family: Montserrat, sans-serif;
  margin-right: 25px;
}

.description {
  font-size: 18px;
  text-align: center;
  font-weight: 600;

}

.tour-title {
  font-weight: 800;
  font-size: 25px;
  padding-bottom: 25px;
}

.ul-left {
  text-align: left;
  margin-bottom: 30px;
}

.text {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.6rem;
  margin-bottom: 30px;

}

.text span {
  color: #de2f33;
}

.orange-btn {
  background-color: #f6b332;
  color: #fff;
  padding: 13px 40px;
  border: none;
  border-radius: 4px;
  text-transform: uppercase;
}

.footer-section {
  display: flex; 
  width: 900px;
  padding: 45px 0;
}

@media all and (max-width: 2400px) {
  .main-constructor {
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media all and (max-width: 1500px) {
  .main-constructor {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media all and (max-width: 1090px) {
  .main-constructor {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
  }
  .footer-section {
    display: none;
  }
}
@media all and (max-width: 900px) {

.main-constructor {
   max-width: 700px;
   margin-left: auto;
   margin-right: auto;
   display: block;
  }
.tour-description{
   align-items: center;
   margin-left: 25px;
   border-radius: 4px 4px 0 0;
  }

.description {
   font-size: 16px;
  }

.text {
  font-size: 16px;
  }

.tour-img {
display: none;
  }

.image {
margin-left: 0px;

  }
.tourPhotoColumn {
  display: flex;
  max-width: 507px;
  height: 250px;
  margin-left: auto;
  margin-right: auto;
}
.tourPhotoColumn-img {
  max-width: 507px;
  border-radius: 0 0 4px 4px;
}

}

@media all and (max-width: 700px) {
  .main-constructor {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media all and (max-width: 600px) {
  .main-constructor {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
  }

}